.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pic {
  height: 400px;
  width: 600px;
}
/* http//meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main-container {
  font-family: Oswald;
}
.main-container img {
  height: fit-content;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .content-div {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 30%;
  padding: 30px;
}
header .content-div h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
header .content-div .button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10;
  height: 10;
  background-color: white;
  color: #7C4979;
  font-family: Oswald;
  font-size: 16px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
header img {
  height: 400px;
  width: 600px;
  margin-left: 50px;
}
.benefits-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  background-color: #7C4979;
  opacity: 0.95;
  padding: 40px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .benefits-flex {
    flex-direction: column;
  }
}
.benefits-flex div {
  margin-top: 20px;
  width: 30%;
  height: 500px;
  padding: 20px;
}
@media (max-width: 768px) {
  .benefits-flex div {
    width: 100%;
  }
}
.benefits-flex div h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.benefits-flex div p {
  font-size: 18px;
  text-align: center;
  color: white;
}
.benefits-flex img {
  width: 100%;
  height: 60%;
  margin-bottom: 10%;
}
#videoBG {
  position: absolute;
  z-index: -1;
  width: 99%;
}
footer {
  margin: 20px;
  font-family: Oswald;
  text-align: center;
}
.main-section {
  background: #7C4979;
}
.headshot-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .headshot-flex-row {
    flex-direction: column;
  }
}
.headshot-flex-row div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 45%;
  margin-top: 5%;
  margin-bottom: 2%;
  color: white;
}
@media (max-width: 768px) {
  .headshot-flex-row div {
    width: 100%;
  }
}
.headshot-flex-row div img {
  width: 80%;
  height: 300px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .headshot-flex-row div img {
    height: 100%;
  }
}
.about-us-header h1 {
  font-family: Oswald;
  font-size: 50px;
}
.nav-container {
  background-color: #7C4979;
  opacity: 0.95;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
  align-items: flex-end;
}
a {
  text-decoration: none;
  font-family: Oswald;
  font-size: 16px;
  color: white;
}
.left-nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  width: 49%;
}
#logo {
  color: white;
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 30%;
}
.right-nav .button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10;
  height: 10;
  background-color: white;
  color: #7C4979;
  font-family: Oswald;
  font-size: 16px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
