/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #000000;
}
h2,
h3,
h4,
h5 {
  color: #000000;
  font-family: 'Oswald';
}
h1 {
  font-family: 'Fjalla One';
  font-size: 4rem;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Oswald;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  font-size: 16px;
  padding-right: 30px;
  color: #000000;
  font-weight: bold;
}
.navigation a:hover {
  color: #FFFFFF;
}
footer {
  margin-top: 150px;
}
footer p {
  text-align: center;
  color: #000000;
  padding: 30px;
}
.intro {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #7C4979;
  margin: 0 auto;
}
.intro h1 {
  display: flex;
  align-self: center;
  position: relative;
  margin: 0px 15px 15px 0px;
}
@media (max-width: 500px) {
  .intro {
    width: 105%;
  }
}
@media (max-width: 800px) {
  .intro {
    width: 105%;
  }
}
.home h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-align: center;
}
.home p {
  line-height: 1.5;
  font-size: 20px;
  margin: 50px;
  text-align: center;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
  align-self: center;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .home .content-section .img-content {
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .home .content-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 200%;
    padding: 10px;
    margin-top: 15px;
  }
  .home .content-section .text-content {
    align-self: flex-start;
    margin-top: 30px;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-top: none;
}
.home .inverse-content .inverse-text {
  width: 48%;
  padding-right: 1%;
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 800px) {
  .home .inverse-content .img-content {
    margin-left: 15px;
  }
}
@media (max-width: 500px) {
  .home .inverse-content {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .inverse-content .img-content {
    padding-left: 1%;
    margin-bottom: 30px;
  }
}
.home .content-section2 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 2px solid silver;
}
.home .content-section2 .text-content2 {
  width: 48%;
  padding-right: 1%;
  margin-top: 30px;
}
.home .content-section2 .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section2 .img-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 800px) and (max-width: 800px) {
  .home .content-section2 .img-content {
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .home .content-section2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-top: none;
    width: 200%;
    padding: 5px;
    padding-top: 30px;
    margin-left: 20px;
    margin-top: -80px;
  }
  .home .content-section2 .img-content {
    margin-left: -15px;
    border-radius: 20px;
  }
}
.home .sign {
  background-color: #7C4979;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  font-size: 20px;
  font-family: Oswald;
  margin-top: 45px;
  margin-left: 230px;
}
.home .sign:hover {
  background-color: #FFFFFF;
  color: #7C4979;
  padding: 10px;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
@media (max-width: 500px) {
  .home .sign {
    background-color: #7C4979;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    font-size: 18px;
    margin-left: 150px;
  }
  .home .sign:hover {
    background-color: #FFFFFF;
    color: #7C4979;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  .about {
    width: 105%;
  }
}
.about .img-content {
  border-top: 2px solid silver;
}
.about .about-img {
  display: flex;
  width: 800px;
  height: 240px;
  object-fit: cover;
  margin-top: 30px;
}
.about h2 {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 90px;
  font-family: Oswald;
  margin-bottom: 30px;
}
.about .p-about {
  margin-top: 30px;
  font-size: 20px;
}
@media (max-width: 500px) {
  .about .p-about {
    font-size: 18px;
    margin: 20px;
    line-height: 1.6;
    text-indent: 10px;
  }
}
.about .team {
  margin-top: 30px;
}
.about .team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .team ul li {
  flex: 0 0 33.333333%;
  margin-bottom: 30px;
}
.about .team img {
  width: 100%;
}
.about .team p {
  margin-top: 20px;
  text-align: center;
  line-height: 0.2;
}
