
.main-container{
    width: 90%;
    margin: auto;
    font-family: Oswald; 

        img {
            border-radius: 25px;
        }
}

header {
    .display-flex();
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

            .content-div {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                width: 15%;
                padding: 30px;

                        h2 {
                            font-size: 50px;
                            margin-bottom: 30px;
                        }

                        .button {
                            .btn-style(10, 10);
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                    img {
                        height: 400px;
                        width: 600px;
                        margin-left: 50px;
                    }
            


        }

.feature-box-1 {
    .display-flex();
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: @block-club-purp;
    opacity: 75%;
    border-radius: 10px;

            div{
                .display-flex();
                flex-direction: column;
                justify-content: space-evenly;
                text-align: justify;
                width: 35%;
                margin-right: 200px;
                color: white; 
                font-size: 20px;

                    h2{
                        text-align: center;
                        margin-bottom: 30px;
                    }

            }

            img { 
                        
                height: 400px;
                width: 600px;
                margin-left: 50px;
                
            }
}

.feature-box-2 {
    .display-flex();
    justify-content: space-around;

                    div {
                        .display-flex();
                        flex-direction: column;
                        justify-content: space-evenly;
                        text-align: justify;
                        width: 35%;
                        margin-right: 200px;
                        font-size: 20px;

                                h2 {
                                    text-align: center;
                                    margin-bottom: 30px;
                                }
                    }

                    img { 
                        
                        height: 400px;
                        width: 600px;
                        margin-left: 50px
                    }

}

.testiominals {

    margin-top: 100px;

    h2 {
        text-align: left;
        font-size: 40px;
        margin-bottom: 75px;
        margin-top: 20px;
        margin-left: 75px;
        color: @block-club-purp;
    }
}

.testimonials-flex {
    .display-flex();
    justify-content: space-between;

            div {

                
                margin-top: 20px;
                width: 30%;
                height: 500px;


            }

                    img {
                        width: 100%;
                        height: 400px;
                        margin-bottom: 30px;
                        border-radius: 25px;

                    }

}