.intro {
    padding-bottom: 15px;
  padding-top: 15px;
  width:100%;
    display: flex;
    flex-direction:column;
    background-color: #7C4979;
    margin:0 auto;
  h1 {
    display:flex;
     align-self: center;
      position: relative;
      margin: 0px 15px 15px 0px;
  }
  
    @media @phone {
      width:105%;
    }
  }
  