

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.btn-style(@width, @height){
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: @width;
    height: @height;
    background-color: white;
    color: @block-club-purp;
    font-family: Oswald; 
    font-size: 16px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.pic {
    height: 400px;
    width: 600px;
}